{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Authentication" %}
{% endblock %}

{% block customStyles %}
  <link href="{% static 'css/style-authenticate.css' %}" rel="stylesheet">
{% endblock %}

{% block customScript %}
    {% comment %}{% endcomment %}
{% endblock %}

{% block mainContent %}
     <!-- Section 1: Message box-->
    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Section 2: Login -->
    <section id="contact" class="login-section">
        <div class="floating-objects">
            <div class="floating-circle"></div>
            <div class="floating-circle"></div>
            <div class="floating-square"></div>
        </div>
        <div class="decoration"></div>
        <div class="login-form">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <h2>{% trans "Login" %}</h2>
                <div class="form-group">
                    <input type="text" name="username" placeholder=" " required>
                    <label>{% trans "Username" %}</label>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder=" " required>
                    <label>{% trans "Password" %}</label>
                </div>
                <button type="submit" class="submit-btn">{% trans "Login" %}</button>
            </form>
        </div>
        <div class="login-form">
            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                <h2>{% trans "Sign Up" %}</h2>
                <div class="form-group">
                    <input type="text" name="firstName" placeholder=" " required>
                    <label>{% trans "FirstName" %}</label>
                </div>
                <div class="form-group">
                    <input type="text" name="lastName" placeholder=" " required>
                    <label>{% trans "LastName" %}</label>
                </div>
                <div class="form-group">
                    <input type="text" name="username" placeholder=" " required>
                    <label>{% trans "Username" %}</label>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder=" " required>
                    <label>{% trans "Email" %}</label>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder=" " required>
                    <label>{% trans "Password" %}</label>
                </div>
                <button type="submit" class="submit-btn">{% trans "SignUp" %}</button>
            </form>
        </div>
    </section>
{% endblock %}