{%extends "base.html" %}
{% load static %}

{% block title %}
    Authentication
{% endblock %}

{% block customStyles %}
  <link href="{% static 'css/style-authenticate.css' %}" rel="stylesheet">
{% endblock %}

{% block customScript %}
{% endblock %}

{% block mainContent %}
     <!-- Section 4: Message box-->
    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Section 4: Login -->
    <section id="contact" class="login-section">
        <div class="floating-objects">
            <div class="floating-circle"></div>
            <div class="floating-circle"></div>
            <div class="floating-square"></div>
        </div>
        <div class="decoration"></div>
        <div class="login-form">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <h2>Login</h2>
                <div class="form-group">
                    <input type="text" name="username" placeholder="" required>
                    <label>Username</label>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="" required>
                    <label>Password</label>
                </div>
                <button type="submit" class="submit-btn">Login</button>
            </form>
        </div>
        <div class="login-form">
            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                <h2>Sign Up</h2>
                <div class="form-group">
                    <input type="text" name="firstName" placeholder=" " required>
                    <label>FirstName</label>
                </div>
                <div class="form-group">
                    <input type="text" name="lastName" placeholder=" " required>
                    <label>LastName</label>
                </div>
                <div class="form-group">
                    <input type="text" name="username" placeholder=" " required>
                    <label>Username</label>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder=" " required>
                    <label>Email</label>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder=" " required>
                    <label>Password</label>
                </div>
                <button type="submit" class="submit-btn">SignUp</button>
            </form>
        </div>
    </section>
{% endblock %}