.login-section {
    /* Responsiveness */
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    /* Visual Effects */
}
.login-section h2 {
    /* Responsiveness */
    margin-bottom: 50px;
    position: relative;
    /* Texts */
    font-size:32px;
    font-weight: 100;
}
.login-section .login-form {
    /* Responsiveness */
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
    padding: 80px;
    width: fit-content;
    height: fit-content;
    border: 1px black solid;
}
.login-section .form-group {
    /* Responsiveness */
    margin-bottom: 20px;
    position: relative;
}
.login-section input {
    /* Responsiveness */
    width: 100%;
    padding: 15px 0;
    /* Visual Effects */
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    /* Texts */
    font-size: 16px;
    font-family: inherit;
    /* Animations */
    transition: all 0.3s ease;
    outline: none;
}
.login-section label {
    /* Responsiveness */
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0px;
    /* Texts */
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* Animations */
    transition: all 0.3s ease;
}